### **String Processing**

In [ ]:
Left to Right ->   0   1   2   3   4   5   6   7   8   9
        mystr ->   u   n   i   v   e   r   s   i   t   y
Right to Left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [21]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[2], mystr[-8], mystr[7], mystr[-3], mystr[4], mystr[-6]) # indexing
print (mystr[0:6], mystr[0:-4], mystr[:6], mystr[:-4]) # slicing
print (mystr[6:], mystr[-4:])
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])
print (mystr[1::2], mystr[0::2], mystr[9:0:-2], mystr[-1:0:-2], mystr[8::-2], mystr[-2::-2])
print (mystr[::-1])

university 10 <class 'str'> 2258427820784
i i i i e e
univer univer univer univer
sity sity
niversi niversi niversi niversi
ver ver ver ver
nvriy uiest yirvn yirvn tseiu tseiu
ytisrevinu

In [24]:
mystr = "calCUtTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(40))
print (mystr.center(40).upper())

calCUtTa unIVerSitY 19 <class 'str'> 2258422536016
CALCUTTA UNIVERSITY
calcutta university
Calcutta university
Calcutta University
CALcuTtA UNivERsITy
          calCUtTa unIVerSitY
          CALCUTTA UNIVERSITY
          CALCUTTA UNIVERSITY

In [32]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.find("ari"), mystr.find("i"), mystr.find("i", 5), mystr.find("i", 12))
print (mystr.find("ArI"), mystr.find("ArI".lower()), mystr.find("gins", 8), mystr.find("gins", 8, 12))

charity begins at home 22 <class 'str'> 2258454780928
2 4 11 -1
-1 2 10 -1

In [37]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.index("ari"))
print (mystr.index("i"))
print (mystr.index("i", 5))
print (mystr.index("i", 12))

charity begins at home 22 <class 'str'> 2258429977792
2
4
11

ValueError: substring not found

In [36]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
try:
    print (mystr.index("ari"))
    print (mystr.index("i"))
    print (mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("Unsuccessful Searching...!!!")

charity begins at home 22 <class 'str'> 2258457822112
2
4
11
Unsuccessful Searching...!!!

In [40]:
mystr = "    calcutta     university      "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    calcutta     university       33 <class 'str'> 2258464978960
calcutta     university 23
calcutta     university       29
    calcutta     university 27

In [41]:
mystr = "#@##calcutta@###@university@#@#@@"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

#@##calcutta@###@university@#@#@@ 33 <class 'str'> 2258464978864
calcutta@###@university 23
calcutta@###@university@#@#@@ 29
#@##calcutta@###@university 27

In [43]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.startswith("cha"), mystr.startswith("Cha"))
print (mystr.startswith("beg"), mystr.startswith("beg", 8))
print (mystr.startswith("beg", 8, 1000), mystr.startswith("beg", 8, 10))

charity begins at home 22 <class 'str'> 2258465390256
True False
False True
True False

In [48]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.endswith("ome"), mystr.endswith("gins"))
print (mystr.endswith("gins", 0, 14))
print (mystr.endswith("gins", 0, 13))
print (mystr.endswith("gins", 11, 14))

charity begins at home 22 <class 'str'> 2258465386176
True False
True
False
False

In [50]:
mystr = "Gagan"
for ch in mystr:
    print (ch)

G
a
g
a
n

In [53]:
mystr = "Gagan"
for i in range(len(mystr)):
    print (mystr[i])   # indexing

G
a
g
a
n

In [52]:
print (list(range(5)))

[0, 1, 2, 3, 4]

In [54]:
mystr = "mississippi"
print (mystr)
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'i', 'm', 'p', 's'}
frozenset({'i', 'm', 'p', 's'})

In [59]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result, type(result))
result = mystr.split("i")
print (result, type(result))
result = mystr.split("x")
print (result, type(result))
result = mystr.split("gins")
print (result, type(result))

charity begins at home
['charity', 'begins', 'at', 'home'] <class 'list'>
['char', 'ty beg', 'ns at home'] <class 'list'>
['charity begins at home'] <class 'list'>
['charity be', ' at home'] <class 'list'>

In [64]:
print ("i" in "university", "i" not in "university")
print ("niv" in "university", "niv" not in "university")
print ("wxyz" in "university", "wxyz" not in "university")
print ("I" in "university", "I" not in "university")

True False
True False
False True
False True

In [65]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [71]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result)
outputstr = " ".join(result)
print (outputstr)
outputstr = " - ".join(result)
print (outputstr)
outputstr = ", ".join(result)
print (outputstr)

charity begins at home
['charity', 'begins', 'at', 'home']
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [72]:
mystr = "mississippi"
print (mystr.count("i"))
print (mystr.count("p"))
print (mystr.count("m"))
print (mystr.count("s"))

4
2
1
4

In [73]:
mystr = "good night"
print (mystr)
mystr = mystr.replace("night", "morning")
print (mystr)
mystr = mystr.replace("morning", "evening")
print (mystr)
mystr = mystr.replace("day", "night")
print (mystr)

good night
good morning
good evening
good evening

In [76]:
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234@abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "四"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "    "
print (mystr, mystr.isspace())

1234 False True True True
abcd True True False False
1234abcd False True False False
1234@abcd False False False False
四 True True True False
     True

### Class Assignment

In [ ]:
Take a string from the user input. The string may contain upper and lower case characters, spaces, digits
and special characters. E.g. "unI234v@#  ersiT78@#y"
Now find the number of vowels and consonants within that string.
Here for the given input, output will be:
Vowel count = 4
Consonant count = 6

In [77]:
mystr = input("Please enter your string: ")
ccount = 0
vcount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So the input string will have vowel count = {vcount} and consonant count = {ccount}...")
print ("End of the program...")

Please enter your string:  unI234v@#  ersiT78@#y

So the input string will have vowel count = 4 and consonant count = 6...
End of the program...

### **List Processing**

In [78]:
list1 = [100, 400, 300, 200, 900]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 900] 5 <class 'list'> 2258394976000
900 100
1900 380.0

In [83]:
list1 = ["Monday", "tuesday", "Wednesday", "Friday"]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['Monday', 'tuesday', 'Wednesday', 'Friday'] 4 <class 'list'> 2258395435520
tuesday Friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
list1 = [100, 400.5, 300, True, 200, False, 900]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400.5, 300, True, 200, False, 900] 7 <class 'list'> 2258470253632
900 False
1901.5 271.64285714285717

In [86]:
list1 = [100, 400.5, 300, True, 200, False, 900, "Rajib"]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400.5, 300, True, 200, False, 900, 'Rajib'] 8 <class 'list'> 2258470252928

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
list1 = ["Tuesday", "Wednesday", "Friday"]
list2 = ["Sunday", "Saturday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2  # list concatenation
print (list3, len(list3))

['Tuesday', 'Wednesday', 'Friday'] 3
['Sunday', 'Saturday'] 2
['Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday'] 5

In [92]:
list1 = ["Tuesday", "Wednesday", "Friday"]
list2 = ["Sunday", "Saturday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = [list1, list2]  # list of lists
print (list3, len(list3))

['Tuesday', 'Wednesday', 'Friday'] 3
['Sunday', 'Saturday'] 2
[['Tuesday', 'Wednesday', 'Friday'], ['Sunday', 'Saturday']] 2

In [94]:
list1 = ["Tuesday", "Wednesday", "Friday"]
list2 = ["Sunday", "Saturday"]
print (list1, len(list1))
print (list2, len(list2))
list1.extend(list2)
print (list1, len(list1))
print (list2, len(list2))

['Tuesday', 'Wednesday', 'Friday'] 3
['Sunday', 'Saturday'] 2
['Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday'] 5
['Sunday', 'Saturday'] 2

In [106]:
# indexing and slicing
# L2R ->  0          1            2         3         4  
list1 = ['Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday']
# R2L -> -5         -4           -3        -2        -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[4], list1[-1])
print (list1[:3], list1[:-2])
print (list1[2:], list1[-3:])
print (list1[1:4], list1[-4:-1])
print (list1[::-1])
print (list1[2][1:4], list1[-3][-5:-2])

['Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday'] 5 <class 'list'> 2258470348928
Friday Friday Saturday Saturday
['Tuesday', 'Wednesday', 'Friday'] ['Tuesday', 'Wednesday', 'Friday']
['Friday', 'Sunday', 'Saturday'] ['Friday', 'Sunday', 'Saturday']
['Wednesday', 'Friday', 'Sunday'] ['Wednesday', 'Friday', 'Sunday']
['Saturday', 'Sunday', 'Friday', 'Wednesday', 'Tuesday']
rid rid

In [117]:
# L2R -> 0                                   1
#          0          1            2           0         1
list1 = [['Tuesday', 'Wednesday', 'Friday'], ['Sunday', 'Saturday']] # list of lists
# R2L ->-2                                  -1 
#         -3         -2           -1          -2        -1
print (list1, len(list1), type(list1), id(list1))
print (list1[0][1], list1[0][1:])
print (list1[1][1][2:5], list1[-1][-1][-6:-3], list1[-1][-1][-3:-6:-1])

[['Tuesday', 'Wednesday', 'Friday'], ['Sunday', 'Saturday']] 2 <class 'list'> 2258422864960
Wednesday ['Wednesday', 'Friday']
tur tur dru

In [120]:
# insert operation on a list
list1 = ["apple", "pineapple"]
print (list1, len(list1))
list1.append("guava")
print (list1, len(list1))
list1.append("lemon")
print (list1, len(list1))
list1.append("coconut")
print (list1, len(list1))

['apple', 'pineapple'] 2
['apple', 'pineapple', 'guava'] 3
['apple', 'pineapple', 'guava', 'lemon'] 4
['apple', 'pineapple', 'guava', 'lemon', 'coconut'] 5

In [121]:
# insert operation on a list
list1 = ["apple", "pineapple"]
print (list1, len(list1))
list1.insert(1, "guava")
print (list1, len(list1))
list1.insert(0, "lemon")
print (list1, len(list1))
list1.insert(2, "coconut")
print (list1, len(list1))

['apple', 'pineapple'] 2
['apple', 'guava', 'pineapple'] 3
['lemon', 'apple', 'guava', 'pineapple'] 4
['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5

In [122]:
# update operation on a list
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1[3] = "lime"
print (list1, len(list1))
list1[1] = "cherry"
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
['lemon', 'apple', 'coconut', 'lime', 'pineapple'] 5
['lemon', 'cherry', 'coconut', 'lime', 'pineapple'] 5

### Class Assignment

In [ ]:
Input: mOHan daS kARaM chAnD gAndhi   (Any user given name with multiple parts)
Output-1: M D K C Gandhi
Output-2: M. D. K. C. Gandhi

In [133]:
myname = input("Please enter the name of the person: ")
shortname = ""
list1 = myname.split()
# print (list1)
for i in range(len(list1) - 1):
    shortname += list1[i][0] + ". "
    # print (list1[i], shortname)
shortname += list1[-1]
shortname = shortname.title()
print (shortname)

Please enter the name of the person:  mOHan daS kARaM chAnD gAndhi

M. D. K. C. Gandhi

In [137]:
# delete operation on list
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1.remove("apple")
print (list1, len(list1))
list1.remove("lemon")
print (list1, len(list1))
list1.remove("grape")
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
['lemon', 'coconut', 'guava', 'pineapple'] 4
['coconut', 'guava', 'pineapple'] 3

ValueError: list.remove(x): x not in list

In [138]:
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
pineapple
['lemon', 'apple', 'coconut', 'guava'] 4
guava
['lemon', 'apple', 'coconut'] 3
coconut
['lemon', 'apple'] 2
apple
['lemon'] 1

In [139]:
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
print (list1.pop(2))
print (list1, len(list1))
print (list1.pop(0))
print (list1, len(list1))
print (list1.pop(1))
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
coconut
['lemon', 'apple', 'guava', 'pineapple'] 4
lemon
['apple', 'guava', 'pineapple'] 3
guava
['apple', 'pineapple'] 2

In [140]:
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
[] 0

In [141]:
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[0]
print (list1, len(list1))
del list1[3]
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
['lemon', 'apple', 'guava', 'pineapple'] 4
['apple', 'guava', 'pineapple'] 3

IndexError: list assignment index out of range

In [142]:
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
del list1
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5

NameError: name 'list1' is not defined

In [145]:
# reverse of a list
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))
list1 = list1[::-1]
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
['pineapple', 'guava', 'coconut', 'apple', 'lemon'] 5
['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5

In [151]:
# sorting of a list content
list1 = ['lemon', 'apple', 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1.sort()
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5
['apple', 'coconut', 'guava', 'lemon', 'pineapple'] 5
['pineapple', 'lemon', 'guava', 'coconut', 'apple'] 5

In [153]:
list1 = ['lemon', 'apple', "100", 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1.sort(reverse=True)
print (list1, len(list1))

['lemon', 'apple', '100', 'coconut', 'guava', 'pineapple'] 6
['pineapple', 'lemon', 'guava', 'coconut', 'apple', '100'] 6

In [155]:
list1 = ['lemon', 'apple', "100", 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
list1 = sorted(list1)
print (list1, len(list1))
list1 = sorted(list1, reverse=True)
print (list1, len(list1))

['lemon', 'apple', '100', 'coconut', 'guava', 'pineapple'] 6
['100', 'apple', 'coconut', 'guava', 'lemon', 'pineapple'] 6
['pineapple', 'lemon', 'guava', 'coconut', 'apple', '100'] 6

In [156]:
list1 = [True, False, True, False, False]
print (list1, any(list1), all(list1))
list1 = [False, False, False, False, False]
print (list1, any(list1), all(list1))
list1 = [True, True, True, True, True]
print (list1, any(list1), all(list1))

[True, False, True, False, False] True False
[False, False, False, False, False] False False
[True, True, True, True, True] True True

In [159]:
list1 = ['lemon', 'apple', 'coconut', 'pineapple', 'lemon', 'apple', 'coconut']
print (list1, len(list1))
print (list1.count('apple'))
print (list1.count('lemon'))
print (list1.count('cherry'))

['lemon', 'apple', 'coconut', 'pineapple', 'lemon', 'apple', 'coconut'] 7
2
2
0

In [163]:
list1 = ['lemon', 'apple', "100", 'coconut', 'guava', 'pineapple']
print (list1, len(list1))
print (list1.index('apple'))
print (list1.index('coconut'))
print (list1.index('cherry'))

['lemon', 'apple', '100', 'coconut', 'guava', 'pineapple'] 6
1
3

ValueError: 'cherry' is not in list

In [165]:
list1 = [100, 200, 300, 400, 500]
print (list1, len(list1), type(list1), id(list1))
list2 = list1
print (list2, len(list2), type(list2), id(list2))
list1[0] = 1111
list2[1] = 2222
print (list1, len(list1), type(list1), id(list1))
print (list2, len(list2), type(list2), id(list2))

[100, 200, 300, 400, 500] 5 <class 'list'> 2258466013120
[100, 200, 300, 400, 500] 5 <class 'list'> 2258466013120
[1111, 2222, 300, 400, 500] 5 <class 'list'> 2258466013120
[1111, 2222, 300, 400, 500] 5 <class 'list'> 2258466013120

In [167]:
list1 = [100, 200, 300, 400, 500]
print (list1, len(list1), type(list1), id(list1))
list2 = list1.copy()
print (list2, len(list2), type(list2), id(list2))
list1[0] = 1111
list2[1] = 2222
print (list1, len(list1), type(list1), id(list1))
print (list2, len(list2), type(list2), id(list2))

[100, 200, 300, 400, 500] 5 <class 'list'> 2258466004224
[100, 200, 300, 400, 500] 5 <class 'list'> 2258465161024
[1111, 200, 300, 400, 500] 5 <class 'list'> 2258466004224
[100, 2222, 300, 400, 500] 5 <class 'list'> 2258465161024

In [168]:
list1 = [100, 200, 300, 400, 500]
print (list1, len(list1), type(list1), id(list1))
list2[:] = list1
print (list2, len(list2), type(list2), id(list2))
list1[0] = 1111
list2[1] = 2222
print (list1, len(list1), type(list1), id(list1))
print (list2, len(list2), type(list2), id(list2))

[100, 200, 300, 400, 500] 5 <class 'list'> 2258466013120
[100, 200, 300, 400, 500] 5 <class 'list'> 2258465161024
[1111, 200, 300, 400, 500] 5 <class 'list'> 2258466013120
[100, 2222, 300, 400, 500] 5 <class 'list'> 2258465161024

### **Tuple Processing**

In [80]:
tuple1 = (100, 400, 300, 200, 900)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 900) 5 <class 'tuple'> 2258465281408
900 100
1900 380.0

In [82]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Friday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Friday') 4 <class 'tuple'> 2258395323088
Wednesday Friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [85]:
tuple1 = (100, 400.5, 300, True, 200, False, 900)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400.5, 300, True, 200, False, 900) 7 <class 'tuple'> 2258470293216
900 False
1901.5 271.64285714285717

In [87]:
tuple1 = (100, 400.5, 300, True, 200, False, 900, "Rajib")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400.5, 300, True, 200, False, 900, 'Rajib') 8 <class 'tuple'> 2258395181632

TypeError: '>' not supported between instances of 'str' and 'int'

In [91]:
tuple1 = ("Tuesday", "Wednesday", "Friday")
tuple2 = ("Sunday", "Saturday")
print (tuple1, len(tuple1), type(tuple1))
print (tuple2, len(tuple2), type(tuple2))
tuple3 = tuple1 + tuple2  # tuple concatenation
print (tuple3, len(tuple3))

('Tuesday', 'Wednesday', 'Friday') 3 <class 'tuple'>
('Sunday', 'Saturday') 2 <class 'tuple'>
('Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday') 5

In [93]:
tuple1 = ("Tuesday", "Wednesday", "Friday")
tuple2 = ("Sunday", "Saturday")
print (tuple1, len(tuple1), type(tuple1))
print (tuple2, len(tuple2), type(tuple2))
tuple3 = (tuple1, tuple2)  # tuple of tuples
print (tuple3, len(tuple3))

('Tuesday', 'Wednesday', 'Friday') 3 <class 'tuple'>
('Sunday', 'Saturday') 2 <class 'tuple'>
(('Tuesday', 'Wednesday', 'Friday'), ('Sunday', 'Saturday')) 2

In [107]:
# indexing and slicing
# L2R ->  0          1            2         3         4  
tuple1 = ('Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday')
# R2L -> -5         -4           -3        -2        -1
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1[2], tuple1[-3], tuple1[4], tuple1[-1])
print (tuple1[:3], tuple1[:-2])
print (tuple1[2:], tuple1[-3:])
print (tuple1[1:4], tuple1[-4:-1])
print (tuple1[::-1])
print (tuple1[2][1:4], tuple1[-3][-5:-2])

('Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday') 5 <class 'tuple'> 2258470438528
Friday Friday Saturday Saturday
('Tuesday', 'Wednesday', 'Friday') ('Tuesday', 'Wednesday', 'Friday')
('Friday', 'Sunday', 'Saturday') ('Friday', 'Sunday', 'Saturday')
('Wednesday', 'Friday', 'Sunday') ('Wednesday', 'Friday', 'Sunday')
('Saturday', 'Sunday', 'Friday', 'Wednesday', 'Tuesday')
rid rid

In [119]:
# L2R -> 0                                   1
#          0          1            2           0         1
tuple1 = (('Tuesday', 'Wednesday', 'Friday'), ('Sunday', 'Saturday')) # list of lists
# R2L ->-2                                  -1 
#         -3         -2           -1          -2        -1
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1[0][1], tuple1[0][1:])
print (tuple1[1][1][2:5], tuple1[-1][-1][-6:-3], tuple1[-1][-1][-3:-6:-1])

(('Tuesday', 'Wednesday', 'Friday'), ('Sunday', 'Saturday')) 2 <class 'tuple'> 2258395381248
Wednesday ('Wednesday', 'Friday')
tur tur dru

In [124]:
# update operation on a tuple
tuple1 = ('lemon', 'apple', 'coconut', 'guava', 'pineapple')
print (tuple1, len(tuple1), id(tuple1))
# tuple1[3] = "lime"    # !!! ERROR...
list1 = list(tuple1)
print (list1, len(list1), id(list1))
list1[3] = "Lime"
print (list1, len(list1), id(list1))
tuple1 = tuple(list1)
print (tuple1, len(tuple1), id(tuple1))

('lemon', 'apple', 'coconut', 'guava', 'pineapple') 5 2258464989536
['lemon', 'apple', 'coconut', 'guava', 'pineapple'] 5 2258465496960
['lemon', 'apple', 'coconut', 'Lime', 'pineapple'] 5 2258465496960
('lemon', 'apple', 'coconut', 'Lime', 'pineapple') 5 2258470402416

In [157]:
tuple1 = (True, False, True, False, False)
print (tuple1, any(tuple1), all(tuple1))
tuple1 = (False, False, False, False, False)
print (tuple1, any(tuple1), all(tuple1))
tuple1 = (True, True, True, True, True)
print (tuple1, any(tuple1), all(tuple1))

(True, False, True, False, False) True False
(False, False, False, False, False) False False
(True, True, True, True, True) True True

In [162]:
tuple1 = ('lemon', 'apple', 'coconut', 'pineapple', 'lemon', 'apple', 'coconut')
print (tuple1, len(list1))
print (tuple1.count('apple'))
print (tuple1.count('lemon'))
print (tuple1.count('cherry'))

('lemon', 'apple', 'coconut', 'pineapple', 'lemon', 'apple', 'coconut') 7
2
2
0

In [164]:
tuple1 = ('lemon', 'apple', "100", 'coconut', 'guava', 'pineapple')
print (tuple1, len(tuple1))
print (tuple1.index('apple'))
print (tuple1.index('coconut'))
print (tuple1.index('cherry'))

('lemon', 'apple', '100', 'coconut', 'guava', 'pineapple') 6
1
3

ValueError: tuple.index(x): x not in tuple

### **Dictionary Processing**

In [172]:
# dictionary is a collection containing key and value pairs
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())  # returns a list of keys
print (dict1.values())  # returns a list of values
print (dict1.items())  # returns a list of tuples

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258466009344
dict_keys(['mango', 'pineapple', 'apple', 'orange'])
dict_values([320, 250, 320, 650])
dict_items([('mango', 320), ('pineapple', 250), ('apple', 320), ('orange', 650)])

In [175]:
# dictionary is a collection containing key and value pairs
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650, "apple":900}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())  # returns a list of keys
print (dict1.values())  # returns a list of values
print (dict1.items())  # returns a list of tuples

{'mango': 320, 'pineapple': 250, 'apple': 900, 'orange': 650} 4 <class 'dict'> 2258466002368
dict_keys(['mango', 'pineapple', 'apple', 'orange'])
dict_values([320, 250, 900, 650])
dict_items([('mango', 320), ('pineapple', 250), ('apple', 900), ('orange', 650)])

In [182]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1))
print (dict1.get("pineapple"))
print (dict1.get("apple"))
print (dict1.get("coconut"))
print (dict1.get("coconut", "Not Available"))
print (dict1.get("apple", "Not Available"))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4
250
320
None
Not Available
320

In [189]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1["apple"])
print (dict1["pineapple"])
print (dict1["cherry"])

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258466001920
320
250

KeyError: 'cherry'

In [185]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
try:
    print (dict1["apple"])
    print (dict1["pineapple"])
    print (dict1["cherry"])
except KeyError as ke:
    print ("Unsuccessful Searching...!!!")

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258466011520
320
250
Unsuccessful Searching...!!!

In [190]:
# insert and update operations on a dictionary
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["lemon"] = 540   # insert
dict1["lime"] = 580    # insert
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["mango"] = 900   # update
dict1["orange"] = 1000 # update
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258465344832
{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650, 'lemon': 540, 'lime': 580} 6 <class 'dict'> 2258465344832
{'mango': 900, 'pineapple': 250, 'apple': 320, 'orange': 1000, 'lemon': 540, 'lime': 580} 6 <class 'dict'> 2258465344832

In [194]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("apple", 900)
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("orange", 1500)
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("lime", 950)
dict1.setdefault("lemon", 850)
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258467238656
{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258467238656
{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258467238656
{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650, 'lime': 950, 'lemon': 850} 6 <class 'dict'> 2258467238656

In [193]:
# delete operation on a dictionary
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("pineapple"))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("orange"))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("pineapple"))
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258467323520
250
{'mango': 320, 'apple': 320, 'orange': 650} 3 <class 'dict'> 2258467323520
650
{'mango': 320, 'apple': 320} 2 <class 'dict'> 2258467323520

KeyError: 'pineapple'

In [195]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258395371904
('orange', 650)
{'mango': 320, 'pineapple': 250, 'apple': 320} 3 <class 'dict'> 2258395371904
('apple', 320)
{'mango': 320, 'pineapple': 250} 2 <class 'dict'> 2258395371904
('pineapple', 250)
{'mango': 320} 1 <class 'dict'> 2258395371904

In [196]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258395439936
{} 0 <class 'dict'> 2258395439936

In [197]:
dict1 = {"mango":320, "pineapple":250, "apple":320, "orange":650}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 320, 'pineapple': 250, 'apple': 320, 'orange': 650} 4 <class 'dict'> 2258395446336

NameError: name 'dict1' is not defined

In [199]:
# concatenation of dictionaries
fruits1 = {"apple":"red", "pineapple":"yellow", "banana":"yellow"}
fruirs2 = {"orange":"orange", "mango":"green"}
print (fruits1, len(fruits1))
print (fruirs2, len(fruirs2))
fruits1.update(fruirs2)
print (fruits1, len(fruits1))
print (fruirs2, len(fruirs2))

{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow'} 3
{'orange': 'orange', 'mango': 'green'} 2
{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow', 'orange': 'orange', 'mango': 'green'} 5
{'orange': 'orange', 'mango': 'green'} 2

In [200]:
fruit_names = ["mango", "lime", "lemon", "cherry", "coconut"]
quantity = 900
dict1 = dict.fromkeys(fruit_names, quantity)
print (dict1, len(dict1))

{'mango': 900, 'lime': 900, 'lemon': 900, 'cherry': 900, 'coconut': 900} 5

In [207]:
fruits = ["mango", "lime", "lemon", "cherry"]
prices = [100, 400, 300, 500, 250, 750] 
print (zip(fruits, prices))        # returns a zip object
print (list(zip(fruits, prices)))  # returns list of tuples
print (tuple(zip(fruits, prices))) # returns tuples of tuples
print (dict(zip(fruits, prices)))  # returns a dictionary
print (dict(list(zip(fruits, prices))))  # return a dictionaty constructed from the list of tuples

<zip object at 0x0000020DD7638700>
[('mango', 100), ('lime', 400), ('lemon', 300), ('cherry', 500)]
(('mango', 100), ('lime', 400), ('lemon', 300), ('cherry', 500))
{'mango': 100, 'lime': 400, 'lemon': 300, 'cherry': 500}
{'mango': 100, 'lime': 400, 'lemon': 300, 'cherry': 500}

In [208]:
def switcher(monthno):
    month_name = {1:"January",
                  2:"February",
                  3:"March",
                  4:"April", 
                  5:"May", 
                  6:"June",
                  7:"July",
                  8:"August",
                  9:"September", 
                 10:"October",
                 11:"November",
                 12:"December"}
    return month_name.get(monthno, "Invalid Month Number...!!!")
print (switcher(3))
print (switcher(7))
print (switcher(12))
print (switcher(20))

March
July
December
Invalid Month Number...!!!

In [211]:
fruits1 = {"apple":"red", "pineapple":"yellow", "banana":"yellow"}
fruits2 = fruits1
print (fruits1, id(fruits1))
print (fruits2, id(fruits2))
fruits1['apple'] = "deep red"
fruits2['banana'] = "deep yellow"
print (fruits1, id(fruits1))
print (fruits2, id(fruits2))

{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow'} 2258395437760
{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow'} 2258395437760
{'apple': 'deep red', 'pineapple': 'yellow', 'banana': 'deep yellow'} 2258395437760
{'apple': 'deep red', 'pineapple': 'yellow', 'banana': 'deep yellow'} 2258395437760

In [212]:
fruits1 = {"apple":"red", "pineapple":"yellow", "banana":"yellow"}
fruits2 = fruits1.copy()
print (fruits1, id(fruits1))
print (fruits2, id(fruits2))
fruits1['apple'] = "deep red"
fruits2['banana'] = "deep yellow"
print (fruits1, id(fruits1))
print (fruits2, id(fruits2))

{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow'} 2258449231616
{'apple': 'red', 'pineapple': 'yellow', 'banana': 'yellow'} 2258449232000
{'apple': 'deep red', 'pineapple': 'yellow', 'banana': 'yellow'} 2258449231616
{'apple': 'red', 'pineapple': 'yellow', 'banana': 'deep yellow'} 2258449232000

### Class Assignment

In [ ]:
Take a word from the user as input and find the frequency of occurrences 
of each distinct letter in that word. (The output may be in any order)
Output calculations will be case insensative.

Example-1:
Input: mississippi
Output: m -> 1, i -> 4, s -> 4, p -> 2

Example-2:
Input: malayalam
Output: m -> 2, a -> 4, y -> 1, l -> 2

In [217]:
myword = input("Please enter your word: ").lower()
char_freq = {}
for ch in myword:
    if (ch in char_freq): char_freq[ch] += 1
    else: char_freq[ch] = 1
    print (ch, char_freq)
for ch in char_freq:
    print (f"{ch} -> {char_freq[ch]}, ", end = "")
print()
print ("End of the program...")

Please enter your word:  mississippi

m {'m': 1}
i {'m': 1, 'i': 1}
s {'m': 1, 'i': 1, 's': 1}
s {'m': 1, 'i': 1, 's': 2}
i {'m': 1, 'i': 2, 's': 2}
s {'m': 1, 'i': 2, 's': 3}
s {'m': 1, 'i': 2, 's': 4}
i {'m': 1, 'i': 3, 's': 4}
p {'m': 1, 'i': 3, 's': 4, 'p': 1}
p {'m': 1, 'i': 3, 's': 4, 'p': 2}
i {'m': 1, 'i': 4, 's': 4, 'p': 2}
m -> 1, i -> 4, s -> 4, p -> 2,
End of the program...

### **Set Processing**

### **Frozen Set Processing**