### **String Processing**

In [ ]:
Left to Right ->   0   1   2   3   4   5   6   7   8   9
        mystr ->   u   n   i   v   e   r   s   i   t   y
Right to Left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [21]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[2], mystr[-8], mystr[7], mystr[-3], mystr[4], mystr[-6]) # indexing
print (mystr[0:6], mystr[0:-4], mystr[:6], mystr[:-4]) # slicing
print (mystr[6:], mystr[-4:])
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])
print (mystr[1::2], mystr[0::2], mystr[9:0:-2], mystr[-1:0:-2], mystr[8::-2], mystr[-2::-2])
print (mystr[::-1])

university 10 <class 'str'> 2258427820784
i i i i e e
univer univer univer univer
sity sity
niversi niversi niversi niversi
ver ver ver ver
nvriy uiest yirvn yirvn tseiu tseiu
ytisrevinu

In [24]:
mystr = "calCUtTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(40))
print (mystr.center(40).upper())

calCUtTa unIVerSitY 19 <class 'str'> 2258422536016
CALCUTTA UNIVERSITY
calcutta university
Calcutta university
Calcutta University
CALcuTtA UNivERsITy
          calCUtTa unIVerSitY
          CALCUTTA UNIVERSITY
          CALCUTTA UNIVERSITY

In [32]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.find("ari"), mystr.find("i"), mystr.find("i", 5), mystr.find("i", 12))
print (mystr.find("ArI"), mystr.find("ArI".lower()), mystr.find("gins", 8), mystr.find("gins", 8, 12))

charity begins at home 22 <class 'str'> 2258454780928
2 4 11 -1
-1 2 10 -1

In [37]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.index("ari"))
print (mystr.index("i"))
print (mystr.index("i", 5))
print (mystr.index("i", 12))

charity begins at home 22 <class 'str'> 2258429977792
2
4
11

ValueError: substring not found

In [36]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
try:
    print (mystr.index("ari"))
    print (mystr.index("i"))
    print (mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("Unsuccessful Searching...!!!")

charity begins at home 22 <class 'str'> 2258457822112
2
4
11
Unsuccessful Searching...!!!

In [40]:
mystr = "    calcutta     university      "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    calcutta     university       33 <class 'str'> 2258464978960
calcutta     university 23
calcutta     university       29
    calcutta     university 27

In [41]:
mystr = "#@##calcutta@###@university@#@#@@"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

#@##calcutta@###@university@#@#@@ 33 <class 'str'> 2258464978864
calcutta@###@university 23
calcutta@###@university@#@#@@ 29
#@##calcutta@###@university 27

In [43]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.startswith("cha"), mystr.startswith("Cha"))
print (mystr.startswith("beg"), mystr.startswith("beg", 8))
print (mystr.startswith("beg", 8, 1000), mystr.startswith("beg", 8, 10))

charity begins at home 22 <class 'str'> 2258465390256
True False
False True
True False

In [48]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.endswith("ome"), mystr.endswith("gins"))
print (mystr.endswith("gins", 0, 14))
print (mystr.endswith("gins", 0, 13))
print (mystr.endswith("gins", 11, 14))

charity begins at home 22 <class 'str'> 2258465386176
True False
True
False
False

In [50]:
mystr = "Gagan"
for ch in mystr:
    print (ch)

G
a
g
a
n

In [53]:
mystr = "Gagan"
for i in range(len(mystr)):
    print (mystr[i])   # indexing

G
a
g
a
n

In [52]:
print (list(range(5)))

[0, 1, 2, 3, 4]

In [54]:
mystr = "mississippi"
print (mystr)
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'i', 'm', 'p', 's'}
frozenset({'i', 'm', 'p', 's'})

In [59]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result, type(result))
result = mystr.split("i")
print (result, type(result))
result = mystr.split("x")
print (result, type(result))
result = mystr.split("gins")
print (result, type(result))

charity begins at home
['charity', 'begins', 'at', 'home'] <class 'list'>
['char', 'ty beg', 'ns at home'] <class 'list'>
['charity begins at home'] <class 'list'>
['charity be', ' at home'] <class 'list'>

In [64]:
print ("i" in "university", "i" not in "university")
print ("niv" in "university", "niv" not in "university")
print ("wxyz" in "university", "wxyz" not in "university")
print ("I" in "university", "I" not in "university")

True False
True False
False True
False True

In [65]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [71]:
mystr = "charity begins at home"
print (mystr)
result = mystr.split()
print (result)
outputstr = " ".join(result)
print (outputstr)
outputstr = " - ".join(result)
print (outputstr)
outputstr = ", ".join(result)
print (outputstr)

charity begins at home
['charity', 'begins', 'at', 'home']
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [72]:
mystr = "mississippi"
print (mystr.count("i"))
print (mystr.count("p"))
print (mystr.count("m"))
print (mystr.count("s"))

4
2
1
4

In [73]:
mystr = "good night"
print (mystr)
mystr = mystr.replace("night", "morning")
print (mystr)
mystr = mystr.replace("morning", "evening")
print (mystr)
mystr = mystr.replace("day", "night")
print (mystr)

good night
good morning
good evening
good evening

In [76]:
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234@abcd"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "四"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "    "
print (mystr, mystr.isspace())

1234 False True True True
abcd True True False False
1234abcd False True False False
1234@abcd False False False False
四 True True True False
     True

### Class Assignment

In [ ]:
Take a string from the user input. The string may contain upper and lower case characters, spaces, digits
and special characters. E.g. "unI234v@#  ersiT78@#y"
Now find the number of vowels and consonants within that string.
Here for the given input, output will be:
Vowel count = 4
Consonant count = 6

In [77]:
mystr = input("Please enter your string: ")
ccount = 0
vcount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So the input string will have vowel count = {vcount} and consonant count = {ccount}...")
print ("End of the program...")

Please enter your string:  unI234v@#  ersiT78@#y

So the input string will have vowel count = 4 and consonant count = 6...
End of the program...

### **List Processing**

In [78]:
list1 = [100, 400, 300, 200, 900]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 900] 5 <class 'list'> 2258394976000
900 100
1900 380.0

In [83]:
list1 = ["Monday", "tuesday", "Wednesday", "Friday"]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['Monday', 'tuesday', 'Wednesday', 'Friday'] 4 <class 'list'> 2258395435520
tuesday Friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
list1 = [100, 400.5, 300, True, 200, False, 900]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400.5, 300, True, 200, False, 900] 7 <class 'list'> 2258470253632
900 False
1901.5 271.64285714285717

In [86]:
list1 = [100, 400.5, 300, True, 200, False, 900, "Rajib"]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400.5, 300, True, 200, False, 900, 'Rajib'] 8 <class 'list'> 2258470252928

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
list1 = ["Tuesday", "Wednesday", "Friday"]
list2 = ["Sunday", "Saturday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2  # list concatenation
print (list3, len(list3))

['Tuesday', 'Wednesday', 'Friday'] 3
['Sunday', 'Saturday'] 2
['Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday'] 5

In [92]:
list1 = ["Tuesday", "Wednesday", "Friday"]
list2 = ["Sunday", "Saturday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = [list1, list2]  # list of lists
print (list3, len(list3))

['Tuesday', 'Wednesday', 'Friday'] 3
['Sunday', 'Saturday'] 2
[['Tuesday', 'Wednesday', 'Friday'], ['Sunday', 'Saturday']] 2

### **Tuple Processing**

In [80]:
tuple1 = (100, 400, 300, 200, 900)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 900) 5 <class 'tuple'> 2258465281408
900 100
1900 380.0

In [82]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Friday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Friday') 4 <class 'tuple'> 2258395323088
Wednesday Friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [85]:
tuple1 = (100, 400.5, 300, True, 200, False, 900)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400.5, 300, True, 200, False, 900) 7 <class 'tuple'> 2258470293216
900 False
1901.5 271.64285714285717

In [87]:
tuple1 = (100, 400.5, 300, True, 200, False, 900, "Rajib")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400.5, 300, True, 200, False, 900, 'Rajib') 8 <class 'tuple'> 2258395181632

TypeError: '>' not supported between instances of 'str' and 'int'

In [91]:
tuple1 = ("Tuesday", "Wednesday", "Friday")
tuple2 = ("Sunday", "Saturday")
print (tuple1, len(tuple1), type(tuple1))
print (tuple2, len(tuple2), type(tuple2))
tuple3 = tuple1 + tuple2  # tuple concatenation
print (tuple3, len(tuple3))

('Tuesday', 'Wednesday', 'Friday') 3 <class 'tuple'>
('Sunday', 'Saturday') 2 <class 'tuple'>
('Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Saturday') 5

In [93]:
tuple1 = ("Tuesday", "Wednesday", "Friday")
tuple2 = ("Sunday", "Saturday")
print (tuple1, len(tuple1), type(tuple1))
print (tuple2, len(tuple2), type(tuple2))
tuple3 = (tuple1, tuple2)  # tuple of tuples
print (tuple3, len(tuple3))

('Tuesday', 'Wednesday', 'Friday') 3 <class 'tuple'>
('Sunday', 'Saturday') 2 <class 'tuple'>
(('Tuesday', 'Wednesday', 'Friday'), ('Sunday', 'Saturday')) 2